.header {
  position: relative;
  min-height: $header-height;
  padding: $default-margin - $small-margin;

  .line {
    height: $header-height/4;
    top: 40%;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $blue;
    z-index: -1;
  }

  .section-title {
    padding-left: 0;
  }

  .header-box {
    width: 100%;
    border: 1px solid $gray-light;
    background: $body-color;
    margin: 0 auto;
    padding: $default-padding $default-padding/2 $default-padding $default-padding;
    @include border-radius($default-border-radius);
    @include box-shadow(lighten($gray, 50%) 2px 2px 2px);

    .info {
      padding: 0 0 $default-padding 0;
      border-bottom: 1px $gray-light dashed;

      .row { //undo negative margins for nested rows
        margin-left: 0;
        margin-right: 0;
      }

      .photo {
        text-align: center;
        img {
          height: $header-height;
          margin-bottom: $default-margin;
        }
      }

      .title {
       padding-left: 0;

        .name {
          width: 100%;
          padding-left: 0;
        }

        .subtitle {
          padding: 0;
          margin-top: 12px;
         }
      }

      .description {
        padding-left: 0;

        p {
          line-height: 1.4;
          margin-bottom: 0;
        }
      }
    }

    .contact {
      height: $header-height - $default-padding*2;
      margin-top: $default-padding;
      padding-right: 0;
      padding-left: 0;
      color: $blue;

      .contacts {
        height: 100%;
        margin: 0;
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          height: 21%;
          font-size: 14px;
          white-space: nowrap;
        }

        .icon {
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
  }
}

@media #{$medium-up} {
  $small-margin: $default-margin;

  $default-margin: $default-margin + 10;
  $default-padding: $default-padding + 10;

  .header {
    .header-box {
      padding: $default-padding $default-padding;

      .info {
        padding-right: $default-margin;
        padding-bottom: 0;
        border-bottom: 0;
        border-right: 1px $gray-light dashed;

        .photo {
          img {
            height: 100%;
            width: 100%;
            margin-bottom: 0;
            margin-right: $default-margin;
          }
        }

        .title {
          .name {
            width: auto;
            float: left;
          }

          .subtitle {
            float: left;
          }
        }

        .description {
          padding-left: 0.9375rem;
          padding-right: 0;
          //margin-top: $small-margin/2;
        }
      }

      .contact {
        margin-top: 0;
        padding-left: $default-margin;

        .icon {
          margin-right: 5px;
          font-size: 18px;
          margin-top: -1px;
        }
      }
    }
  }
}

@media #{$large-up} {
  .header {
    padding: $default-margin;

    .header-box {
      max-width: 60.5rem;

      .info {
        .description {
          padding-left: 0;
        }
      }
    }
  }
}

@media #{$medium-only} {
  .header {
    .header-box {
      .contact {
        height: 250px;
      }
    }
  }
}
