@mixin achivement-box($vertical) {
  @include border-radius($default-border-radius);
  padding: 9px; // FIXME
  border: 2px $gray-light solid;

  &:before, &:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none; 
  }

  @if $vertical {
    &:before, &:after {
      left: -31px;
    }

    &:before {
      border-right-color: inherit;
      border-width: 16px;
      top: 50%;
      margin-top: -17px;
    }

    &:after {
      border-right-color: #FFF;
      border-width: 19px;
      top: 50%;
      margin-top: -20px;
    }
  }

  @else {
    position: absolute;
    vertical-align: top;
    transition: width 0.4s linear, max-height 0.4s linear;
    left: -10px;
    right: -10px;
    width: 100%;
    //height: 110px;

    &.top  {
      top: -155px;

      &:before, &:after {
        top: 131px;
      }

      &:before {
        border-top-color: inherit;
        border-width: 16px;
        left: 54%;
        margin-left: -16px;
      }

      &:after {
        border-top-color: #fff;
        border-width: 16px;
        left: 54%;
        margin-left: -16px;
      }
    }

    &.bottom {
      top: 40px;

      &:before, &:after {
        top: -16px;
      }

      &:before {
        border-bottom-color: inherit;
        border-width: 16px;
        left: 57%;
        margin-left: -16px;
      }

      &:after {
        border-bottom-color: #fff;
        border-width: 22px;
        left: 57%;
        margin-left: -22px;
      }
    }
  }
}

