/*
 * Custom style
 *
 * Base colors, font-sizes, etc...
 */

/* ==========================================================================
   Colors
   ========================================================================== */

$blue: #5E9BA3;
$brown: #917269;
$gray: #2F2421;
$gray-light: #B6B2A7;
$gray-darker: #555;
$black-darker: #2C2B37;
$black: #2F2421;
$body-color: #FFF;

/* ==========================================================================
   Sizes
   ========================================================================== */

$default-padding: 20px;
$default-margin: 20px;

$small-margin: $default-margin/4;

$header-height: 200px;
$default-line-height: 1;


$header-height: 200px;
$default-line-height: 1;

$default-border-radius: 6px;

$default-font-size: 14px;
