/*
 * Custom style
 *
 * Base colors, font-sizes, etc...
 */

/* ==========================================================================
   Colors
   ========================================================================== */

$blue: #5E9BA3;
$brown: #917269;
$gray: #2F2421;
$gray-light: #B6B2A7;
$black-darker: #2C2B37;
$black: #2F2421;

/* ==========================================================================
   Sizes
   ========================================================================== */

$default-padding: 10px;
$default-margin: 10px;

$small-margin: $default-margin/2;


$header-height: 200px;
$default-line-height: 1;


$header-height: 200px;
$default-line-height: 1;

$default-border-radius: 6px;

$default-font-size: 14px;

/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
  font-size: 36px;
  color: $blue;
  margin: 0;
  line-height: $default-line-height;
}

h2 {
  font-size: 20px;
  color: $black-darker;
  margin: 0;
  line-height: $default-line-height;
}

h3 {
  font-size: 18px;
  color: $black-darker;
  margin: 0;
  line-height: $default-line-height;
  font-weight: normal;
}

p {
  font-size: $default-font-size;
  color: $black;
  margin: $default-margin/2 0;
  width: 100%;
  line-height: $default-line-height;
}

a {
  font-size: 14px;
}
